%div
= text_field_tag 'user[company_info][company_name]', nil, :placeholder => "Company Name", :class => "textboxes input-a"
%div
= text_field_tag 'user[company_info][industry]', nil, :placeholder => "Industry", :class => "textboxes input-a"
%div
= text_field_tag 'user[company_info][department]', nil, :placeholder => "Title", :class => "textboxes input-a"
%div
= text_field_tag 'user[company_info][tel]', nil, :placeholder => "Tel",  :class => "textboxes input-a"
