%div
= text_field_tag 'user[infoable][company_name]', nil, :placeholder => "Company Name", :class => "textboxes input-a"
%div
= text_field_tag 'user[infoable][industry]', nil, :placeholder => "Industry", :class => "textboxes input-a"
%div
= text_field_tag 'user[infoable][department]', nil, :placeholder => "Title", :class => "textboxes input-a"
%div
= text_field_tag 'user[infoable][tel]', nil, :placeholder => "Tel",  :class => "textboxes input-a"
