%div
= text_field_tag 'user[school_info][school_name]', nil, :placeholder => "School Name", :class => "textboxes input-a"
%div
= text_field_tag 'user[school_info][insititution]', nil, :placeholder => "Insititution", :class => "textboxes input-a"
%div
= text_field_tag 'user[school_info][major]', nil, :placeholder => "Major", :class => "textboxes input-a"
%div
= text_field_tag 'user[school_info][graduated_at]', nil, :placeholder => "Graduated At",  :class => "textboxes input-a"
