.content.wrapper
  %ul
    %li
      %h2
        Title
      =@announcement.title
    %li
      %h2
        Body
      =@announcement.title
    %li
      = image_tag @announcement.photo ,:size => "200x200"
