- if @events.present?
  %table.table-e
    %thead
      %tr
        %td{:style => "width:100px;text-align: left;"}
          %h5.label-46 Event Title
        %td{:style => "width:115px;"}
          %h5.label-46 Start
        %td{:style => "width:100px;"}
          %h5.label-46 End
        %td{:style => "width:110px;"}
          %h5.label-46 Location
        %td{:style => "width:160px;"}
          .dd-b
            %h5.label-46
              Action
    %tbody
      - @events.each do |event|
        = render "admin/events/event_entry", :event => event, :action_for => :active
      %tr
- else
  No Applying Events
