#events-tabs.inner-tabs
  %ul.ul-i
    %li.uli-selected
      %a{:href => applied_admin_events_path()} Applied
      %li
        %a{:href => active_admin_events_path()} Active
      %li
        %a{:href => freezed_admin_events_path()} Freezed
