#events-tabs.inner-tabs
  %ul.ul-i
    %li.uli-selected
      %a{:href => applied_events_admin_events_path()} Applied
      %li
        %a{:href => active_events_admin_events_path()} Active
      %li
        %a{:href => block_events_admin_events_path()} Block
