!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:style => "font-family:'lucida grande','lucida sans unicode',lucida,'Helvetica Neue', helvetica,'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei',sans-serif; background-color:#fff; margin:0; padding:20px;font-size:13px;"}
    .container{:style => "width:80%;margin:20px auto;background:#fff;border:1px solid #d9d9d9;"}
      .header{:style => "background:#fff;padding:10px;border-bottom:1px solid #d9d9d9;"}
        %img{:src => "http://127.0.0.1:3000/assets/logo.png"}
      .main{:style => "padding:20px;background-color:#fff;"}
        .content{:style => ""}
          %h2 请确认您的邮件
          %p 请点击以下链接确认你的邮件，您的邮件将成为您在 Cloud Foundry 同学会 最重要的身份认证:
          = link_to "Click Here to confirm", confirm_users_url(:token => @user.confirmation_token), :style => "color:#0097d7;"
      .footer{:style => "background-color:#666;font-size:11px;padding:10px;"}
        %div{:style => "color:#fff;"} 
          Copyright © 2012 
          %a{:href => "#", :style => "color:#fff;margin-left:10px"} Cloud Foundry 同学会
          / %a{:href => "#", :style => "color:#fff;margin-left:15px"} 电子邮件
          / %a{:href => "#", :style => "color:#fff;margin-left:15px"} 博客
          / %a{:href => "#", :style => "color:#fff;margin-left:15px"} 微博