Hi
%br/
%p
  = @user.fullname
  Welcome to CloudFoundry.
%p
  = "Please confirm: #{link_to confirm_users_url(:token => @user.confirmation_token), confirm_users_url(:token => @user.confirmation_token)}"
%p
  CloudFoundry Team
