= javascript_include_tag "jquery.validate"
=form_for media, :as=>:event_media, :url=> create_slide_event_event_medias_path(event), :remote => true do |f|
  =f.hidden_field :category, :value=>"Slide"
  %p
    = f.label "Slideshare URL"
    = f.text_field :url
  %p
    =f.submit "Create"

:javascript
  $(document).ready(function(){
    $('#new_event_media').validate({
      rules: {
        "event_media[url]": {
          required: true
        }
      }
    });
  });