<div >
<%if  current_user.present?%>
   CURRENT USER <%= current_user.email.inspect %>
    ===============================================================================================================================
    ===============================================================================================================================
<% end %>
Session<%= session.inspect %>

</div>
<%#= debug(params)%>
