- if flash[:notice] 
  %p.flash.hide{ :"data-noty" => "information" }
    - flash[:notice].each do |notice|
      %span 
        = notice

- if flash[:error]
  %p.flash.hide{ :"data-noty" => "error" }
    - flash[:error].each do |error|
      %span
        = error 
