.footer
  .wrapper
    .f-left.flt-left
      %h5.label-15
        = t('footer.copyright')
        / %a{:href => "http://creativecommons.org/licenses/by/2.5/",:style => "color: #0097D7;"}= t('footer.creative')
        / %br
        / = t('footer.details')
        / %a{:href => "http://www.cloudfoundry.com/legal",:style => "color: #0097D7;"}= t('footer.license')


:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39084859-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
