%header
  .container.clearfix
    %ul.clearfix
      %li
        %a{:href => ""} FAQ'S
      %li
        %a{:href => ""} LOGIN
    -#.searchBox
      %input{:placeholder => "Search", :type => "text"}
      %button.searchIcon
