%footer
  .footerContent
    .clearfix
      %span.footerText Cloud Foundry
      %ul.footerLinks.clearfix
        %li
          %a{:href => "#"} About
          %span.lightGrayText /
        %li
          %a{:href => "#"} Partners
          %span.lightGrayText /
        %li
          %a{:href => "#"} Events
          %span.lightGrayText /
        %li
          %a{:href => "#"} Gallery
          %span.lightGrayText /
        %li
          %a{:href => "#"} Pricing
          %span.lightGrayText /
        %li
          %a{:href => "#"} Jobs
          %span.lightGrayText /
        %li
          %a{:href => "#"} Forums
          %span.lightGrayText /
        %li
          %a{:href => "#"} Get an Account
    .clearfix
      %span.footerText Features
      %ul.footerLinks.clearfix
        %li
          %a{:href => "#"} Feature one
          %span.lightGrayText /
        %li
          %a{:href => "#"} Feature two
          %span.lightGrayText /
        %li
          %a{:href => "#"} Feature three
          %span.lightGrayText /
        %li
          %a{:href => "#"} Feature four
          %span.lightGrayText /
        %li
          %a{:href => "#"} Feature five
    .clearfix
      %span.footerText Frameworks &amp; Languages
      %ul.footerLinks.clearfix
        %li
          %a{:href => "#"} Ruby
          %span.lightGrayText /
        %li
          %a{:href => "#"} Rails &amp; Sinatra
          %span.lightGrayText /
        %li
          %a{:href => "#"} Java
          %span.lightGrayText /
        %li
          %a{:href => "#"} Spring
          %span.lightGrayText /
        %li
          %a{:href => "#"} Scala
          %span.lightGrayText /
        %li
          %a{:href => "#"} Play
          %span.lightGrayText /
        %li
          %a{:href => "#"} JavaScript
          %span.lightGrayText /
        %li
          %a{:href => "#"} Node.js
    .clearfix
      %span.footerText Services
      %ul.footerLinks.clearfix
        %li
          %a{:href => "#"} Redis
          %span.lightGrayText /
        %li
          %a{:href => "#"} RabbitMQ
          %span.lightGrayText /
        %li
          %a{:href => "#"} MongoDB
          %span.lightGrayText /
        %li
          %a{:href => "#"} MySQL
          %span.lightGrayText /
        %li
          %a{:href => "#"} PostgreSQL
    .clearfix
      %span.footerText Cloud
      %ul.footerLinks.clearfix
        %li
          %a{:href => "#"} Public
          %span.lightGrayText /
        %li
          %a{:href => "#"} Private
          %span.lightGrayText /
        %li
          %a{:href => "#"} Micro
    .clearfix
      %span.footerText Dev Center
      %ul.footerLinks.clearfix
        %li
          %a{:href => "#"} Documentation
          %span.lightGrayText /
        %li
          %a{:href => "#"} Get Started
          %span.lightGrayText /
        %li
          %a{:href => "#"} Get Involved
          %span.lightGrayText /
        %li
          %a{:href => "#"} Core Compatibility
    .socialLinks
      .linksCenter.clearfix
        %a.twitterIcon{:href => ""}
        %a.faceBookIcon{:href => ""}
        %a.youTubeIcon{:href => ""}
    .footerBottom
      %ul.supportPrivacyLinks.clearfix
        %li
          %a{:href => ""} support
        %li
          %a{:href => ""} Status
        %li
          %a{:href => ""} faq
        %li
          %a{:href => ""} blog
        %li
          %a{:href => ""} legal
        %li
          %a{:href => ""} privacy
      %p.termsOfService
        \© 2012 Cloud Foundry, by VMware. All Rights Reserved.
        %a{:href => "#"} Terms of Service
        and Trademark Standards.