%header
  .container.clearfix
    %ul.clearfix
      -#%li
      -#  %a{:href => ""} FAQ'S
      -if @current_user.present?
        %li
          -#%a{:href => "#{profile_path}"} MY PROFILE
          %a{:href => "#{dashboard_user_path(@current_user)}"} Dashboard
        %li
          %a.logout{:href => "#"} LOGOUT
      -else
        %li
          -#%a.signin{:href => "#"} LOGIN
          %a{:href => "#{signin_path}"} LOGIN
    -#.searchBox
      %input{:placeholder => "Search", :type => "text"}
      %button.searchIcon

