#slider-id.coda-slider
  %div
    %h2.title 1
    .leftSlider
      %h1
        Liberal World of
        Knowledge Sharing for
        Developers
      %p Your key of an awesome knowledge cloud
      -if !@current_user.present?
        %a.orangeBtn.signUp.signin Sign Up
    .rightSlider
  %div
    %h2.title 2
    .leftSlider
      %h1
        Liberal World of
        Knowledge Sharing for
        Developers
      %p Your key of an awesome knowledge cloud
      -if !@current_user.present?
        %a.orangeBtn.signUp.signin Sign Up
    .rightSlider
  %div
    %h2.title 3
    .leftSlider
      %h1
        Liberal World of
        Knowledge Sharing for
        Developers
      %p Your key of an awesome knowledge cloud
      -if !@current_user.present?
        %a.orangeBtn.signUp.signin Sign Up
    .rightSlider