.comingEvents.clearfix
  .fullHeading
    %h3 Upcoming Events
  -if @upcoming_events.present?
    #ca-container.ca-container.clearfix
      .ca-wrapper

        -@upcoming_events.each do |event|
          .ca-item.ca-item-1
            .ca-item-main
              .eventImg
                -#%img{:src => "assets/event_img_1.png"}
                = image_tag(event.get_event_image,:size => "190x91")
              .eventContent
                %h5
                  = link_to event.title,event_path(event),:class => "event_title"
                .date
                  =event.created_at.strftime("%b %d,%Y")
                .where
                  Where:
                  %span.lightGrayText
                    =event.chapter.city_name
                  -#%a{:href => "#"} (map)
                .description
                  Description:
                  %span.lightGrayText #{event.description.truncate(15)}

                  %br/
                  %br/
                  %a{:href => "#{event_path(event)}"} Read more
  -else
    .noEventText No Events