.logo
  =image_tag("logo.png")
.navigation
  %ul.clearfix
    %li
      %a.home.active{:href => "#"}
    %li
      %a.about{:href => "#"} About
    %li
      %a.chapter{:href => "#"} Chapter
    %li
      %a.event{:href => "#"} Event
    %li
      %a.wiki Wiki