.container
   .logo
      =image_tag("cfdg_logo.png")
   .navbar
      .navbar-inner
         %ul.nav.clearfix
            %li
               %a.home.activeTab{:href => "#{root_path}"}
            %li
               %a.about{:href => "#{about_path}"} About
            %li
               %a.chapter{:href => "#{directory_path}"} Chapter
            %li
               %a.event{:href => ""} Event
            %li
               %a.wiki{:href =>"#{wiki_path}"} Wiki