=form_for User.new, :as=>:post, :url=>add_speaker_event_path(event, :format=>"js"),  :remote=>true, :html=>{:multipart=> true, :class=>"form-horizontal", :id=>"add_speaker"} do |f|
  %input{:type=>"hidden", :value=>"#{event}", :id=>"formid"}
  .control-group
    .controls
      %button.bigButton.blueBtn.notAMember
        %span If Speaker is not a CFDG member
  .nonMember
    .control-group
      %label.control-label
        Speaker Name
      .controls
        =f.text_field "fullname",  :placeholder => "Speaker"
    .control-group
      %label.control-label
        Email Id
      .controls
        =f.text_field "email",  :placeholder => "Email"
    .control-group
      %label.control-label
        Upload Speaker’s Image
      .controls
        .fileUpload.clearfix
          =f.file_field "avatar", :readonly=> true, :class=>"textbox"
          .wrapper
            %input.inputBrowse{:type => "button", :value => "Browse"}/
            %input.inputHidden{:type => "file"} Browse
        %span.imgType Your image must be JPG,GIF or PNG fromat
    .control-group
      %label.control-label
        Description about Speaker
      .controls
        =f.text_area "description"
    .control-group
      %label.control-label
        Add Twitter Handle
      .controls
        =f.text_field "twitter_url", :placeholder=>"twitter url"
    .control-group
      %label.control-label
        Add Linked profile link
      .controls
        =f.text_field "linkedin_url", :placeholder=>"linkedin url"
    .control-group
      .controls
        =f.submit "Add Speaker", :class=>"blueBtn done"

:javascript
  $('#add_speaker').validate({
    rules: {
      "user[fullname]": {
        required: true
      }
    }
  });
  $("#add_speaker").bind("ajax:success", function(){
    if ( $(this).data('remotipartSubmitted') )
  });