.all_events_comments
  -(@event.comments || []).each do |comment|
    %li
      = avatar_display_pic(comment.user,'thumb', '50x50','profile.png',"img-c flt-left")
      %h5.label-27
        #{comment.user.fullname}
      .commentText
        %p #{comment.content}
        %span.commentDate #{Time.parse(comment.created_at.to_s).strftime("%b %d, %Y")}
