.agendaBox.clearfix
  .agendaPara
    %p{:id => "desc_#{agenda_id}"}=description
    .editDeleteBtn
      %a.editIcon.edit_agenda{:href => '#',:rel => "#{agenda_id}"}
      %a.deleteThikIcon.deleteEventAgenda{:href => '#',:rel => "#{agenda_id}"}