.agendaBox.clearfix
  .agendaPara
    %p{:id => "desc_#{agenda_id}"}=description
    .editDeleteBtn
      %a.editIcon{:href => '#',:id => "agenda_id_#{agenda_id}",:rel => "#{agenda_id}"}
      %a.deleteThikIcon{:href => '#',:id => "deleteAgenda"}

:javascript
  $(document).ready(function(){
    var editButton = $(".editIcon").attr("rel");
    console.log(editButton);
    //$(".editIcon").on("click",function(){
    $("#agenda_id_"+editButton).on("click",function(){
      var that = $(this);
      var thatParent = that.closest(".agendaBox");
      that.closest(".agendaPara").hide();
      var id = that.attr('rel')
      var desc = $("#desc_"+id).text();
      thatParent.append("<textarea class='editDesc'></textarea>")
      //thatParent.append('<textarea id='+id+'></textarea>')
      thatParent.children(".editDesc").text(desc);
      var btn = document.createElement('button');
      $(btn).addClass('updateDesc')
            .html('Update')
            .attr('rel',id)
            .appendTo(that.closest(".agendaBox"))
            .on('click',function(){
               var data = {description:thatParent.children(".editDesc").val(),agenda_id:$(this).attr("rel")};
               var url = '/events/update_agenda';
               $.ajax({
                 type: "post",
                 url: '/events/update_agenda',
                 data : {agenda:data},
                 dataType: 'script',
                 success: function(data){
                   that.closest(".agendaPara").children("p").text(thatParent.children(".editDesc").val());
                   thatParent.children(".editDesc").remove();
                   thatParent.children(".updateDesc").remove();
                   thatParent.children(".agendaPara").show();
                 },
                 async:false
               });
            });
    });

  });