.picHolder{:id => "image_gallery",:style =>"width:500px;" }
  -if @all_event_images.present?
    - @all_event_images.limit(5).each do |i|
      .eventImageHolder
        = image_tag(i.image)
    .seeAllImages
      = link_to "See all images for this event.",show_all_event_images_event_path(@all_event_images.first.event_id)

  -else
    = "No Image for the event."

.clr