
-#%h1
%div.attendees
  .attendeesHeading
    %strong #{t("events.list_of_attendees")} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    %div.mCount
      = members.size
  %ul.attendeesList
    - members.each do |m|
      %li
        .imageHolder
          = avatar_display_pic(m,'thumb', '30x30','profile.png',"profile-img img-a flt-left")
        .nameHolder
          = m.name
        .clr
