$('#options').show();
$('#spinner').hide();
-if @event.errors.blank?
  $("#events").html("#{escape_javascript render(:partial => 'chapters/chapter_admin_home_page')}");
  $('.success_msg').show();
  $('.success_msg').fadeOut(5000);
-else    
  - err_messages = @event.errors.to_a.join("<br />")
  var msg = "#{raw(err_messages)}";
  console.log(msg)
  noty({ text: msg, type: "error"});
  $("#event_form_submit").css("opacity", 1).text("CREATE").removeAttr("disabled");
