%p 分会主席你好，
%p 
  恭喜！
  %strong= @chapter.name 
  分会正式成立。感谢你对组织开发者社区活动的热情以及对Cloud Foundry的支持。近期Cloud Foundry团队将与你联络。

%p 在此之前，你可以上传你的照片，并从这里（超链接）填写你的个人简介。
%p 我们建议你立即开始招募你的分会会员，并着手准备首次分会活动。你可以从这里 #{link_to(profile_url(), profile_url())} 开始申请分会活动。
如有问题，请与管理员联系：#{mail_to('cncfdg@vmware.com', 'cncfdg@vmware.com')}


%p Cloud Foundry同学会
