= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"

.content.eventDetails
  .clearfix
    .breadCrumb
      %span Events
      %span.breadCrumbDivider /
      %span Cloud Foundry Open Tour
      %span.breadCrumbDivider /
      %span.activePage Gluecon
    %a.back{:href => "#"} Back
  .blueHeader
    .chapterName.clearfix
      %h1 Cloud Foundry Open Tour
    .chapterDateAndPlace.clearfix
      %span.imageIcon
        %span.numberOfImages 89
        %span Photos
  .layoutWrapper.clearfix
    .row
      %ul.eventGallery
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
        %li
          .eventImageHolder
            %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
              %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/


:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });