.loginContent.signUpWrapper
  .row
    .span10.offset1
      .loginLayout.clearfix
        .plainBlueHeader
          %h3 Forgot Password
        .loginLeftPanel.loginVisual
          %ul
            %li
              Create & Attend the
              %span.upperCaseBold events
              in your city.
            %li
              Share your
              %span.upperCaseBold knowledge
            %li
              Discuss your
              %span.upperCaseBold thoughts
            %li
              Explore the
              %span.upperCaseBold devlopers world
        .loginRightPanel
          .loginText Enter Your Email
          %form
            %input{:placeholder => "Email*", :type => "text"}/
            %button.orangeBtn{:href => "#"} Continue


