.loginContent.signUpWrapper
  .row
    .span10.offset1
      .loginLayout.clearfix
        .plainBlueHeader
          %h3 Reset Password
        .loginLeftPanel.loginVisual
          %ul
            %li
              Create & Attend the
              %span.upperCaseBold events
              in you city.
            %li
              Share your
              %span.upperCaseBold knowledge
            %li
              Discuss your
              %span.upperCaseBold thoughts
            %li
              Explore the
              %span.upperCaseBold devlopers world
        .loginRightPanel
          .loginText Enter New Password
          %form
            %input{:placeholder => "New password*", :type => "text"}/
            %input{:placeholder => "Confirm new password*", :type => "text"}/
            %button.orangeBtn{:href => "#"} Reset Password