= form_for @chapter, :html => { :multipart => true, :id => 'chairman_form' }, :remote => true   do |f|
  = f.text_area :chairman_description, :style => "", :rows => 5 , :cols => 40
  %p limit 50 words
  = f.file_field :chairman_photo, :as => :file
  = f.submit 'submit' , :class => 'send'


