.content.wrapper.chapterMember
  %h1 Chapter Members
  %ul
    -if @chapter_members.size > 0
      - @chapter_members.each do |member|
        %li
          .userName
            = link_to member.user.fullname, profile_info_user_path( member.user), :class => "label-my"

          - unless member.user.admin? or (member.user_id == member.created_by)
            -if member.is_blocked?
              = link_to "Unblock user",block_unblock_chapter_member_chapter_path(@chapter,:member => member,:user => member.user,:status => "unblock"),:class => "cp", :confirm => "Are you sure you want to unblock the member?"
            -else
              = link_to "Block user",block_unblock_chapter_member_chapter_path(@chapter,:member => member,:user => member.user,:status => "block"),:class => "cp", :confirm => "Are you sure you want to block the member?"
          %br
    - else
      .userName
        No chapter Member present.