.content.loginLayout

  .div-l
    .dd-b.flt-left
      %h1.label-17
        Search Results
  - if @chapters.present?
    %table.table-e
      %thead
        %tr
          %td{:style => "width:100px;text-align: left;"}
            %h5.label-46 Chapter Name
          %td{:style => "width:115px;"}
            %h5.label-46 Chapter Type
          %td{:style => "width:115px;"}
            %h5.label-46 Members Count
          %td{:style => "width:100px;"}
            %h5.label-46 Events Count
      %tbody
        - @chapters.each do |chapter|
          %tr
            %td{:style => "text-align: left;"}
              %h5.label-48= link_to chapter.name, chapter_path(chapter)
            %td{}
              %h5.label-48= chapter.chapter_type
            %td
              %h5.label-48= chapter.try(:chapter_members).try(:count)
            %td
              %h5.label-48= chapter.try(:events).try(:count)

        %tr
  - else
    Sorry no results found

