.content.ChapterDetails
  .breadCrumb
    %span Wiki
    %span.breadCrumbDivider /
    %span.activePage Cloud Foundry Open Tour
  .blueHeader
    .chapterName.clearfix
      %h1 Cloud Foundry Open Tour
    .chapterDateAndPlace.clearfix
      %span.chapterDate December 13,2012
  .chapterLayout
    %img.articleImg{:src => "/assets/article_img.jpg"}
    .articleLayout
      .clearfix
        .sliderHeadingMid
          %h3 Description
        .articleDescription
          %p What if you could deploy and scale your applications within seconds? And never had to wait again for infrastructure to be provisioned? With Cloud Foundry, which is a modern, open-source Platform as a Service, you can deploy your application instantly. Use Cloud Foundry for development, testing and production. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %a{:href => "#"} More...
      .comments.clearfix
        .sliderHeadingMid
          %h3 Comments
        .articleDescription
          %ul.posts
            %li
              .clearfix
                %img{:src => "/assets/human_face_1.jpg"}
                .commentText
                  %h5 Ravindra Sharma
                  %span.commentDate November 08,2012
                  %p
                    Since Cloud Foundry introduced npm support, we added several improvements that make deploying Node.js applications with dependencies easier, faster and more transparent to developers. Easy development When we introduced npm support...
                    %a{:href => "#"} View more
            %li
              .clearfix
                %img{:src => "/assets/human_face_1.jpg"}
                .commentText
                  %h5 Ravindra Sharma
                  %span.commentDate November 08,2012
                  %p
                    Since Cloud Foundry introduced npm support, we added several improvements that make deploying Node.js applications with dependencies easier, faster and more transparent to developers. Easy development When we introduced npm support...
                    %a{:href => "#"} View more
          %form
            %textarea
            %a.addBtn.btn Add Comment