ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
@font-face {
 font-family: 'helvetica_light';
 src: url('../fonts/ufonts.com_helvetica-light-webfont.eot');
 src: url('../fonts/ufonts.com_helvetica-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/ufonts.com_helvetica-light-webfont.woff') format('woff'),  url('../fonts/ufonts.com_helvetica-light-webfont.ttf') format('truetype'),  url('../fonts/ufonts.com_helvetica-light-webfont.svg#roboto_ltregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a{
    color: #0094D4;
}
a:hover{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dfeff9;
}
.bodyWrapper{
    background: url("body_bg.png") no-repeat fixed center #B3D6ED;
    margin: 0 auto;
    width: 100%;
}
header{
    background: url("header_bg.png") repeat-x ;
    height: 40px;
    box-shadow: 0 2px 6px 1px #869BB2;
    margin-bottom: 35px;
}
.searchBox{
    background-color: #212a32;
    width: 225px;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
}
header .searchBox{
    float: right;
}
.searchBox button{
    border: none;
    box-shadow: none;
}
.searchBox input[type="text"]{
    background-color: #212a32;
    border: none;
    box-shadow: none;
    height: 15px;
    color: #ffffff;
    border-radius: 5px;
    float: left;
    width: 190px;
    padding-left: 6px;
}
.searchBox input[type="text"]:focus{
    box-shadow: none;
}
.searchIcon{
    background: url("search_icon.png") no-repeat center left;
    width: 25px;
    height: 27px;
    display: block;
    float: right;
}
header ul{
    float: right;
}
header ul li{
    float: left;
    color: #ffffff;
    background: url("devider.png") no-repeat left center;
    line-height: 29px;
    margin: 5px 10px 0 10px;
    padding-left: 15px;
    font-size: 11px;
    font-family: arial;
}
header ul li a{
    color: #ffffff;
}
header ul li a:hover{
    color: #cccccc;
    text-decoration: none;
}
header ul li:first-child{
    background: none;
}
.logo{
    margin-bottom: 20px;
}
.container .navbar .navbar-inner{
    background: url("navigation_bg.jpg") repeat-x ;
    box-shadow: 0 1px 2px 1px #BFD3E8;
    border-radius: 4px;
    padding: 0;
    min-height: 52px;
    background-color: inherit;
}
.navbar ul.nav{
    border-radius: 5px;
    margin: 0;
}
.navbar-inner ul.nav li{
    float: left;
    width: 215px;
    background: url("navigation_divider.png") no-repeat left center;
    line-height: 63px;
    text-align: center;
    height: 52px;
    vertical-align: bottom;
    font-size: 14px;
}
.navbar-inner ul.nav li:first-child{
    width: 80px;
    background: none;
}
.navbar-inner ul.nav li:first-child a{
    border-radius: 7px 0 0 5px;
}
.navbar ul.nav li a{
    display: block;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 0;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #ffffff;
}
.navbar ul.nav li:hover a{
    border-bottom: 2px solid #00bde7;
    color: #333333;
    height: 50px;
}
.home{
    background: url("home_normal.png") no-repeat 26px 16px;
    width: 80px;
    height: 52px;
    display: block;
}
.home.activeTab{
    background: url("home_test.jpg") no-repeat center 2px;
    width: 80px;
    height: 50px;
    display: block;
    border-bottom: 2px solid #00bde7;
}
.about{
    background: url("about_normal.png") no-repeat 61px 18px;
    height: 52px;
    display: block;
}
.navbar ul.nav li a.about.activeTab{
    background: url("about_bg.png") no-repeat 1px 2px;
    height: 50px;
    display: block;
    border-bottom: 2px solid #00bde7;
    padding-left: 23px;
}
.chapter{
    background: url("chapter_normal.png") no-repeat 48px 19px;
    height: 52px;
    display: block;
}
.navbar ul.nav li a.chapter.activeTab{
    background: url("chapter_bg.png") no-repeat 1px 1px;
    height: 50px;
    display: block;
    border-bottom: 2px solid #00bde7;
    padding-left: 32px;
}
.noEventText{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.event{
    background: url("event_normal.png") no-repeat 59px 18px;
    height: 52px;
    display: block;
}
.nav li a.event.activeTab{
    background: url("event_bg.png") no-repeat 1px 2px;
    height: 50px;
    display: block;
    border-bottom: 2px solid #00bde7;
    padding-left: 17px;
}
.wiki{
    background: url("wiki_normal.png") no-repeat 75px 18px;
    height: 52px;
    display: block;
}
.navbar ul.nav li a.wiki.activeTab{
    background: url("wiki_bg.png") no-repeat 1px 2px;
    height: 50px;
    display: block;
    border-bottom: 2px solid #00bde7;
    padding-left: 10px;
}

.bodyWrapper .content{
    width: 940px;
    background: url("lower_bg.png") no-repeat center 109%;
    margin: 0 auto;
    padding:0 0 20px 0;
    height: 100%;
    min-height: 400px;
}
.loginContent{
    width: 940px;
    background: url("lower_bg.png") no-repeat center 170%;
    margin: 0 auto;
    padding:0 0 20px 0;
    height: 100%;
    min-height: 400px;
}

/* slider css*/
.leftSlider{
    background: #073053;
    width: 482px;
    height: 290px;
    float: left;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    padding: 40px;
    font-family: helvetica;
    font-weight: lighter;
}
.rightSlider{
    background: url("slider_img.png") no-repeat center #0684b8;
    float: right;
    width: 378px;
    height: 360px;
    border-radius: 5px;

}
.leftSlider h1{
    margin: 0;
    width: 477px;
    line-height: 50px;
    font-family: helvetica;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 44px;
}
.leftSlider p{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #ffffff;
}
.orangeBtn{
    background: url("sign_up_btn_bg.png") repeat-x;
    border: 1px solid #813516;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.orangeBtn:hover{
    background: #F9672C;
    background: -moz-linear-gradient(top, #F9672C 0%, #E26638 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9672C), color-stop(100%,#E26638));
    background: -webkit-linear-gradient(top, #F9672C 0%,#E26638 100%);
    background: -o-linear-gradient(top, #F9672C 0%,#E26638 100%);
    background: -ms-linear-gradient(top, #F9672C 0%,#E26638 100%);
    background: linear-gradient(top, #F9672C 0%,#E26638 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9672c', endColorstr='#e26638',GradientType=0 );
    color: #ffffff;
    cursor: pointer;
}
.signUp{
    width: 120px;
    line-height: 33px;
    display: block;
}
.latestAnnouncement{
    height: 540px;
    float: left;
    background: #e9f4fa;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}
#news-container ul li{
    margin:10px 20px 15px 20px !important;
    padding: 10px 0 !important;
    height: 130px !important;
    display: block;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}
#news-container{
    height: 490px !important;
}
#news-container ul li .imgBox{
    float: left;
    max-width: 79px;
    max-height: 79px;
    margin-right: 15px;
}
#news-container ul li .textBox{
    float: left;
    width: 165px;
    display: block;
}
.textBox button{
    height: 20px;
    line-height: 20px;
    padding-top: 0px;
}
.textBox .date{
    font-size: 12px;
    font-weight: normal;
    color: #888888;
    font-family: helvetica;
    display: block;
    margin-bottom: 5px;
}
.textBox p{
    color: #888888;
}
.textBox h4{
    font-size: 16px;
    margin-bottom: 5px;
}
.smallHeading{
    background: url("heading_bg.png") repeat-x #f9f9f9;
    width: 300px;
    height: 41px;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px 5px 0 0 ;
}
.longHeading{
    background: url("heading_bg.png") repeat-x #f9f9f9;
    width: 620px;
    height: 41px;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px 5px 0 0 ;
    margin-bottom: 20px;
}
.smallHeading h3{
    line-height: 40px;
    margin-left: 25px;
    font-weight: 600;
}
.cfdgChapter{
    float: left;
    border:1px solid #cccccc;
    border-radius: 5px;
    background-color: #edf6fb;
    margin-bottom: 20px;
}
.longHeading h3{
    line-height: 40px;
    margin-left: 25px;
    font-weight: 600;
}
.citySearch{
    width: 555px;
    margin: 0 auto;
    border: 1px solid #7faac5;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
}
.citySearch form{
    margin: 0px;
}
.citySearchIcon{
    background: url("city_icon.png") no-repeat center;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-top: 3px;
}
.citySearchBtn{
    background: url("search_icon_white.png") no-repeat center;
    width: 20px;
    height: 20px;
    border:none;
}
.citySearch input{
    background: #edf6fb;
    border:none;
    box-shadow: none;
    margin-bottom: 0;
    width: 485px;
}
.citySearch input:focus{
    background: #edf6fb;
    border:none;
    box-shadow: none;
}
.map{
    /*background: url("map.png") no-repeat center;*/
    width: 567px;
    height: 360px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
}
.map .gmaps4rails_map{
    width: 567px;
    height: 360px;
}
.createChapter{
    width: 567px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.createChapter p{
    width: 400px;
    float: left;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
}
.createChapterBtn{
    float: right;
    width: 156px;
    line-height: 33px;
}
.comingEvents{
    border: 1px solid #cccccc;
    border-radius: 5px;
    background:  #edf6fb;
    background:rgba(255 ,255 ,255, 0.35);
    margin-bottom: 20px;
}
.comingEvents h3{
    line-height: 40px;
    margin-left: 25px;
}
.fullHeading{
    background: url("heading_bg.png") repeat-x #f9f9f9;
    width: 938px;
    height: 41px;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px 5px 0 0 ;
    margin-bottom: 20px;
}
.eventImg{
    height: 150px;
    margin-bottom: 15px;
}
.eventContent h5{
    color: #0078ac;
    font-size: 16px;
    font-family: helvetica;
    margin-bottom: 15px;
}
.lightGrayText{
    color:#666666;
}
footer{
    width: 100%;
    background: url("footer_bg.png") repeat-x #212125;
    height: 410px;
    padding-top: 30px;
}
footer .footerContent{
    width: 940px;
    margin: 0 auto;
}
footer .footerText{
    color:rgba(225, 225, 225, 0.5);
    float: left;
    margin-right: 20px;
    display: block;
    font-size: 16px;
}
ul.footerLinks{
    margin-bottom: 10px;
}
ul.footerLinks li{
    float: left;
    font-size: 14px;
}
ul.footerLinks li a{
    margin-right: 8px;
}
ul.footerLinks li span{
    margin-right: 8px;
    color: #585858;
}
footer .footerBottom{
    text-align: center;
    color: #ffffff
}
footer .footerBottom ul li{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
footer .footerBottom p{
    text-align: center;
    color: #ffffff
}
.socialLinks{
    background: url("social_icon_bg.png") center no-repeat;
    width: 900px;
    height: 70px;
    margin: 10px auto 40px;
    text-align: center;
    padding-top: 30px;

}
.twitterIcon{
    background: url("social_icon_sprite.png") no-repeat 0 0;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
}
.faceBookIcon{
    background: url("social_icon_sprite.png") no-repeat -59px 0;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
}
.youTubeIcon{
    background: url("social_icon_sprite.png") no-repeat -116px 0;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
}
.linksCenter{
    width: 150px;
    margin: 0 auto;
}
ul.supportPrivacyLinks{
    list-style: circle;
    color: #ffffff;
    width: 475px;
    margin: 0 auto;
}
ul.supportPrivacyLinks li{
    float: left;
    list-style: disc;
    margin-right: 20px;
    list-style-position: inside;
}
.termsOfService{
    margin-top: 5px;
}
.ui-helper-hidden-accessible{
    display: none;
}
.ui-autocomplete.ui-menu.ui-widget-content{
    width: 490px;
}
.coda-slider-wrapper .coda-slider, .coda-slider-wrapper .coda-slider .panel{
    width: 940px;
    margin-bottom: 20px;
}
.coda-slider-wrapper .coda-nav ul li a{
    font-weight: bold;
}

/* event detailed page*/
.breadCrumb{
    color: #333333;
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.breadCrumbDivider{
    color: #808faa;
}
.activePage{
    color: #777777;
}
.blueHeader{
    background: url("blue_header_with_tag_bg.jpg") no-repeat 0 -2px;
    width: 910px;
    height: 90px;
    padding: 27px 0 0 30px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.blueHeader h1{
    float: left;
    color: #ffffff;
    font-size: 36px;
}
.blueHeader .tag{
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}
.blueHeader .chapterLocation{
    float: left;
    color: #ffffff;
    line-height: 46px;
    font-size: 20px;
    font-weight: 500;

}
.chapterDateAndPlace{
    line-height: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.chapterDate{
    background: url("calander_white.jpg") no-repeat;
    padding-left: 23px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}
.chapterPlace{
    background: url("place_icon.png") no-repeat;
    padding-left: 18px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}
.layoutWrapper{
    background-color: rgba(224, 239, 248, 0.5);
    padding: 30px 30px 40px;
    margin: -2px 0 30px;
    border: 1px solid #96B0C1;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
}
.loginLayout .label-17 {
    text-align: center;
    margin-top: 30px;
}
.layoutWrapper .span8, .chapterLayout .span8{
    width: 578px;
}
.layoutWrapper .span4, .chapterLayout .span4{
    width: 278px;
}
.eventTour{
    /*padding: 0 0 0 30px;*/
}
.chapterNameWithThumbnail{
    margin-bottom: 20px;
}
.chapterNameWithThumbnail .chapterThumbnail{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
}
.chapterNameWithThumbnail h3{
    color: #0094d4;
    font-size: 23px;
    float: left;
    width: 120px;
    margin-top: 10px;
}
.eventPeopleList{
    /*width: 270px;*/
    border-radius: 4px;
    border: 1px solid #CCC;
    background-color: #eff6fb;
    margin-bottom: 20px;
}
.listHeader{
    background: url("listing_header_bg.jpg") repeat-x;
    padding: 6px 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    color:#333333;
    text-shadow:0 -1px rgba(225, 225, 225 ,0.7);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.listHeader span{
    font-size: 13px;
    color:#333333;
    text-shadow:0 -1px rgba(225, 225, 225 ,0.7);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.numberOfPeople{
    float: right;
    margin-right: 10px;
}
.eventPeopleList ul{
    height: 190px;
    overflow-y: auto;
}
.eventPeopleList ul li{
    margin: 20px 0 10px 20px;
    overflow: hidden;
}
.eventPeopleList ul li img{
    float: left;
    width: 38px;
    height: 38px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.personDetails{
    float: left;
    width: 180px;
    text-transform: capitalize;
}
.personDetails .personName{
    color: #0094d4;
    font-size: 16px;
}
.personRole{
    color: #666666;
}
.eventPeopleList a{
    color: #0094d4;
    margin: 0 0 20px 20px;
    display: block;
}
.eventTour .coda-slider-wrapper , .eventTour .coda-slider-wrapper .coda-slider, .eventTour .coda-slider-wrapper .coda-slider .panel{
    width: 578px !important;
}
.eventTour .coda-slider-wrapper .coda-slider{
    margin: 0;
}
.eventTour .coda-slider-wrapper{
    margin-bottom: 5px;
    border: 1px solid #cccccc;
}
.eventTour .panel-container .panel-wrapper img{
    width: 580px;
    height: 370px;
}
.eventTour .coda-slider-wrapper .coda-nav-left a{
    top: 185px;
    left: 15px;
}
.eventTour .coda-slider-wrapper .coda-nav-right a{
    top: 185px;
    right: 15px;
}
.viewEventGallery{
    text-align: right;
    margin-bottom: 8px;
}
.viewEventGallery a{
    color: #0094d4;
    text-decoration: underline;
}
.viewEventGallery a:hover{
    color: #005580;
    text-decoration: none;
}
.eventDetail{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.eventDetail h4{
    color: #0094D4;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 13px;
}
.eventDetail p{
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-bottom: 20px;
}
.viewMore , .viewLess{
    color: #0094D4;
    cursor: pointer;
}

.viewMoreComments , .viewLessComments{
    color: #0094D4;
    cursor: pointer;
    margin-left: 502px;
}
.eventDetail a{
    color: #0094d4;
}
.eventDetail .orangeBtn{
    float: right;
    width: 101px;
}
.eventDetail a.orangeBtn{
    color: #ffffff;
}
.comments{
    /*margin-left: 30px;*/
}
.comments h4{
    font-size: 18px;
    text-shadow: 0 1px white;
    margin-bottom: 20px;
}
.comments ul li{
    overflow: hidden;
    margin-bottom: 40px;
}
.comments ul li img{
    float: left;
    margin-right: 10px;
}
.comments .commentText{
    float: left;
}
.comments .commentText p{
    width: 475px;
    font-size: 14px;
    font-family: helvetica;
}
.comments .commentDate{
    font-size: 12px;
    color: #666;
    line-height: 16px;
}
.comments .addCommentBox{
    margin-right: 15px;
}
.comments .addCommentBox img{
    margin-right: 15px;
    float: left;
}
.comments .addCommentBox textarea{
    resize: none;
    width: 474px;
    height: 100px;
    margin-top: 0;
}
.comments .addCommentBox .addBtn{
    margin: 10px 0 0  70px;
    width: 155px;
    line-height: 25px;
    font-size: 16px;
    color: #333;
    border-radius: 6px;
    text-shadow: 0 2px white;
}
.viewMap{
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}
.viewMap:hover{
    text-decoration: none;
}
.mapDiv{
    width: 576px;
    height: 368px;
    z-index: 1000;
    border: 1px solid #CCC;
    position: absolute;
    top: 183px;
    left: 32px;
    background: white;
    opacity: 0;
    z-index: -1;
}
.mapDiv .close{
    float: right;
    font-size: 12px;
    color: #ffffff;
    margin-right: 5px;
    position: absolute;
    right: 4px;
    top: -17px;
    z-index: -1;
    padding: 0 4px;
    opacity: 1;
    background: #0094B6;
    line-height: 16px;
}
.mapDiv .map_container{
    width: 579px;
    height: 368px;
}
.mapDiv .gmaps4rails_map{
    width: 576px;
    height: 368px;
}
.layoutWrapper .div-l{
    border: none;
}
/* login page layout */
.plainBlueHeader{
    background: url("blue_header_with_tag_bg.jpg") no-repeat 0 -2px;
    width: 780px;
    height: 50px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.plainBlueHeader h3{
    line-height: 50px;
}
.loginLayout{
    padding: 0 0 30px 0;
    background: rgba(235, 246, 254, 0.8);
    margin-bottom: 142px;
    border: 1px solid #96B0C1;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.loginLeftPanel{
    float: left;
}
.loginVisual{
    background: url("login_visual_bg.png") no-repeat center 30px;
    width: 380px;
    text-align: center;
    padding-top: 215px;
}
.loginLeftPanel ul{
    width: 265px;
    margin: 0 auto;
}
.loginLeftPanel ul li{
    text-align: left;
    background: url("list_style_img.jpg") no-repeat 0 7px;
    color: #666666;
    padding-left: 15px;
}
.upperCaseBold{
    text-transform: uppercase;
    font-weight: bold;
}
.facebookLink{
    background: url("facebook_icon.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}
.twitterLink{
    background: url("twitter_icon.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}
.linkedInLink{
    background: url("linked_in_icon.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}
.googleLink{
    background: url("gmail_icon.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 10px;
}
.yahooLink{
    background: url("yahoo_icon.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}
.googleYahooBtn span.text{
    float: left;
}
.loginRightPanel .socialNetworks a.googleYahooBtn{
    width: 125px;
}
.loginRightPanel{
    float: left;
    width: 390px;
    padding-top: 30px;
}
.socialNetworks{
   margin-bottom: 18px;
}
.divider{
    background: url("social_icon_divider.jpg") no-repeat;
    width: 1px;
    height: 18px;
    display: block;
    margin: 0 7px;
    float: left;
}
.loginRightPanel .socialNetworks a{
    display: block;
    width: 88px;
    float: left;
    margin-right: 10px;
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #b5d7e5;
}
.loginRightPanel .socialNetworks a:hover{
    background-color: #efefef;
}
.loginRightPanel .loginText{
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 15px;
}
.orWithBorder span{
    position: absolute;
    top: -9px;
    width: 60px;
    background-color: #dfeefa;
    left: 136px;
    text-align: center;
    color: #666;
    font-weight: bolder;
    font-size: 14px;
}
.orWithBorder{
    border-top: 1px solid #C2DEF0;
    width: 350px;
    position: relative;
    margin-bottom: 20px;
}
.loginRightPanel input[text]{
    width: 245px;
    height: 18px;
    margin-bottom: 15px;
    border-radius: 6px;
}
.loginRightPanel .checkbox{
    margin-bottom:  15px;
    color: #666666;
    font-size: 16px;
}
.forgotPassword{
    margin-left: 25px;
    color: black;
    margin-bottom: 30px;
    display: inline-block;
}
.loginRightPanel p{
    color: #666666;
    font-size: 18px;
}
.loginRightPanel p a{
    color: #000000;
    font-size: 18px;
}
.loginRightPanel p a:hover{
    color: #333333;
}
#error_explanation h4{
    margin-bottom: 20px;
}
/* event listing page */
.blueHeaderWithoutTag{
    background: url("blue_header.png") no-repeat;
    width: 910px;
    height: 51px;
    padding: 20px 0 0 30px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.blueHeaderWithoutTag h1{
    color: #ffffff;
}
.eventSearchBox, .chapterSearchBox{
    background: #ffffff;
    padding: 18px 25px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 40px;
}
.eventSearchBox input{
    width: 320px;
    height: 25px;
    float: left;
}
.eventSearchBox input::-moz-placeholder, .eventSearchBox input::-webkit-placeholder{
    font-weight: bold;
    color: #cccccc;
}
.eventCitySearch{
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 340px;
    height: 35px;
    float: left;
    margin: 0 20px;
}
.eventCitySearch input{
    width: 310px;
    border: none;
}
.eventCitySearch input:focus{
    box-shadow: none;
}
.eventCitySearch .citySearchIcon{
    margin-top: 8px;
}
.eventSearchBox button.search{
    width: 110px;
}
#myTab{
    margin-bottom: 0;
}
.eventListWrapper{
    background: #ffffff;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom: 20px;
}
.eventListInner{
    padding: 0 8px;
}
.eventListWrapper .place{
    color:#666666;
    margin-bottom: 10px;
}
.eventListWrapper .dateAndPlace{
    float: left;
    padding-top: 8px;
    font-size: 12px;
}
.eventListWrapper .tag {
    float: right;
    position: relative;
    margin: -2px 5px 0 0;
}
.eventListWrapper .personName{
    background: url("person_icon.png") no-repeat 0 2px;
    padding-left: 20px;
    font-size: 14px;
}
.eventListWrapper .eventContent a{
    margin-bottom: 15px;
    display: block;
}
.eventListWrapper .eventContent p.lightGrayText{
    min-height: 38px;
}
.eventListFooter{
    background: #f1f1f1;
    line-height: 35px;
    color: #666666;
    padding-left: 15px;
    border-radius: 0 0 5px 5px;
}
.eventListFooter span{
    color: #666666;
}
.eventListFooter .numberPeopleAttending{
    font-weight: bold;
    color: #333333;
    font-size: 15px;
}
.eventContent{
    margin-left: 6px;
}
.fullWidthContainer{
    background: #edf7fd;
    padding: 30px 30px;
    margin-left: -30px;
    margin-right: -30px;
}
.layoutWrapper ul.nav-tabs li{
    width: 220px;
    border: 1px solid #cccccc;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
    height: 45px;
    margin-right: 10px;
    box-shadow: 0px -2px 6px -2px rgba(0, 0, 0, 0.3);

}
.layoutWrapper ul.nav-tabs li.active{
    background: #EDF7FD;
    height: 56px;
    margin-top: -10px;

}
.layoutWrapper ul.nav-tabs li.active a{
    color: #0078ac;
}
.layoutWrapper .nav-tabs > .active > a, .layoutWrapper .nav-tabs > .active > a:hover {
    background: none;
    border: none;
}
.layoutWrapper .nav-tabs > li > a{
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.eventListing .layoutWrapper{
    padding-bottom: 0;
}
.content.eventListing{
    background-position: center 130%;
}
.signUpWrapper .loginVisual{
    background: url("login_visual_bg.png") no-repeat center 53px;
    width: 380px;
    text-align: center;
    padding-top: 230px;
    margin-bottom: 40px;
}
.signUpWrapper a.orangeBtn , .forgotPasswordWrapper a.orangeBtn{
    margin-bottom: 30px;
}
.signUpWrapper input , .forgotPasswordWrapper input{
    display: block;
}
.signUpWrapper .loginRightPanel{
    margin-top: 45px;
}
.forgotPasswordWrapper .loginRightPanel{
    margin-top: 60px;
}
.content .comingEvents .ca-container{
    height: 415px;
    width: 891px;
}
.content .comingEvents .ca-item{
    width: 288px;
    height: 397px;
}
.content .comingEvents .ca-item-main{
    padding: 0;
    border: none;
    box-shadow: none;
}
.content .comingEvents .span4{
    margin-left: 0;
}
.alert.alert-error p{
    color: #B94A48 !important;
}
.alert.alert-info p{
    color: #3A87AD;
}
.alert{
    width: 880px;
    margin: 0 auto;
    height: 15px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 4px;
    padding: 4px 35px 4px 14px;
}
.content .ca-nav .ca-nav-prev{
    left: -15px;
}
.content .ca-nav .ca-nav-next{
    right: -20px;
}
.div-h a.btn-a-small.flt-right{
    padding-top: 6px;
}


/* time picker css*/
.ui-timepicker-list {
    overflow-y: auto;
    height: 150px;
    width: 138px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    outline: none;
    z-index: 10001;
}

.ui-timepicker-list.ui-timepicker-with-duration {
    width: 11em;
}

.ui-timepicker-duration {
    margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
    color: #888;
}

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    list-style: none;
    margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
    background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list:hover .ui-timepicker-selected:hover {
    background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
    color: #ccc;
}
.eventHeader{
    background: url("event_header.png") no-repeat center;
    display: block;
    width: 140px;
    height: 135px;
    margin: 0 auto;
}
.borderWithShadow{
    background: url("border_with_shadow.png") repeat-x;
    width: 100%;
    height: 5px;
    margin-bottom: 20px;
}
.loginLayout .formBox{
    width: 620px;
    margin: 0 auto;
    border-top: 1px solid #cce6f6;
    padding-top: 30px;
}
.loginLayout .formBox.borderNone{
    border: none;
    padding-top: 0;
}
.formBox h5{
    text-transform: capitalize;
    color: #777777;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 220px;
}
.formBox .form-horizontal .control-label{
    width: 200px;
    color: #777777;
    font-size: 16px;
    line-height: 18px;
}
.formBox .form-horizontal input{
    border: 1px solid #7faac5;
    width: 290px;
    height: 20px;
}
.formBox .form-horizontal textarea{
    border: 1px solid #7faac5;
    width: 290px;
    resize: none;
    height: 60px;
}
.formBox .form-horizontal .controls{
    margin-left: 220px;
}
.asterisk{
    color: red;
    font-size: 16px;
}
.formBox .form-horizontal .dateBox , .formBox .form-horizontal .timeBox{
    width: 140px;
    font-size: 12px;
    color: #777777;
    line-height: 18px;
    float: left;
    margin: 0 20px 15px 0;
}
.formBox .form-horizontal .dateInput{
    border:1px solid #7faac5;
    border-radius: 4px;
}
.formBox .form-horizontal .timeInput{

}
.formBox .form-horizontal .timeBox{
    margin-right: 0;
}
.formBox .form-horizontal .dateBox input{
    width: 100px;
    float: left;
    border: none;
}
.formBox .form-horizontal .timeBox input{
    width: 130px;
    float: left;
    background: url("dropdown_arrow.png") #ffffff no-repeat right center;
}
.formBox .form-horizontal .timeBox img{
    margin: 1px 0 0 -30px;
}
.formBox .form-horizontal .bigButton{
    width: 300px;
    padding: 12px 10px;
    text-align: left;
}
.plusIcon{
    background: url("plus_icon.png") no-repeat;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 7px;
}
.blueBtn{
    background: url("blue_btn_bg.png") repeat-x;
    border: 1px solid #7faac5;
    font-size: 14px;
    color: #222222;
    border-radius: 4px;
    font-weight: 500;
    padding: 6px 10px;
    line-height: 16px;
}
.blueBtn:hover{
    background-image: none;
    background-color: #e0f2fd;
}
.postalCode{
    width: 140px;
    font-size: 12px;
    color: #777777;
    line-height: 18px;
    float: left;
}
.formBox .form-horizontal .postalCode input{
    width: 130px;
}

/*chapter detailed */
.sliderHeading{
    background: url("slider-heading.png") no-repeat;
    width: 579px;
    height: 57px;
    display: block;
}
.chapterLayout{
    background-color: rgba(232, 243, 250, 1);
    padding: 30px 30px 40px;
    margin: -2px 0 30px;
    border: 1px solid #96B0C1;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
}
.chapterLayout .ca-container{
    margin: 0;
    width: 578px;
}
.chapterLayout .ca-item{
    width: 280px;
}
.chapterLayout .ca-item-main{
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: inherit;
}
ul.listOfAttendees{
    height: 610px;
    overflow-y: auto;
}
ul.adminPanel{
    height: 70px;
    overflow-y: auto;
}
